<style>
    th:nth-child(1) {
        width: 150px;
    }
    th:nth-child(2) {
        width: 300px;
    }
    th:nth-child(3) {
        width: 120px;
    }
    th:nth-child(4) {
        width: 50px;
        text-align: center;
    }
    td {
        overflow: auto;
    }
</style>

<div style="position:relative;height:500px; padding-right: 16px;overflow: auto">
    <div style="position:absolute;top:0px;width:100%;padding-right: 20px">
        <h3>Thêm dự án mới</h3>
        <form style="width:100%" action="/">
            <div class="form-group">
                <label for="name">Tên dự án</label>
                <input class="form-control" type="text" name="name" ng-model="project_name" placeholder="Tên dự án">
            </div>
            <div class="form-group">
                <label for="description">Mô tả ngắn</label>
                <input class="form-control" type="text" name="description" ng-model="project_description" placeholder="Mô tả ngắn">
            </div>
            <div class="form-group">
                <label for="leader_id">Trưởng dự án</label>
                <select class="form-control" ng-model="leader_id">
                    <option value="" selected>Chọn trưởng dự án</option>
                    <option ng-repeat="user in users" value="{{user.id}}">{{user.name}} - {{user.email}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="employee_id">Thành viên dự án</label>
                <table class="table table-hover" style="table-layout:fixed">
                    <tr>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>#</th>
                    </tr>
                    <tr ng-repeat="project_employee in project_employees track by $index">
                        <td>
                            {{project_employee.name}}
                        </td>
                        <td>
                            {{project_employee.email}}
                        </td>
                        <td>
                            {{project_employee.phone}}
                        </td>
                        <td style="text-align: center; padding-top: 4px;align-items: center;">
                            <a class="btn btn-link" style="padding: 2px" ng-click="delete(project_employee.id)">Xóa</a>
                        </td>
                    </tr>
                </table>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount">Them thanh vien</label>
                        <div class="input-group">
                            <div class="input-group-addon" style="padding: 0px 3px 0px 3px">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </div>
                            <div class="form-inline">
                                <select class="form-control" ng-model="employee_id" style="width:300px">
                                    <option value="" selected>Chọn nhân viên</option>
                                    <option ng-repeat="user in users" value="{{user.id}}">{{user.name}} - {{user.email}}</option>
                                </select>
                            </div>
                            <button type="button" class="btn" ng-click="addEmployee()">Thêm vào dự án</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group clearfix">
                <button class="btn btn-primary pull-right" style="margin-left:10px" type="button" ng-click="addProject()">Thêm dự án</button>
            </div>
        </form>
    </div>
</div>