<style>
    th:nth-child(5) {
        text-align: center
    }
    td {
        overflow: auto
    }
</style>
<div class="" style="padding:20px">
    <p>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Them nguou dung</label>
                <div class="input-group">
                    <div class="input-group-addon">Thêm người dùng</div>
                    <div class="form-inline">
                        <input type="email" class="form-control" ng-model="email" placeholder="Email">
                        <input type="password" class="form-control" ng-model="password" placeholder="Mật khẩu">
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="addNewUser()">Submit</button>
        </form>
    </p>
    <div>
        <table class="table table-hover" style="table-layout:fixed">
            <tr>
                <th>Tên</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Phone</th>
                <th>#</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{(user.sex == 1) ? "Nam" : "Nữ"}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td>
                    {{user.phone}}
                </td>
                <td style="text-align: center; padding-top: 0px;align-items: center;">
                    <a id="{{user.id}}" class="btn btn-link" ng-click="resetPassword(user.id, user.name, user.email)">Reset mật khẩu</a>
                </td>
            </tr>
        </table>
    </div>
</div>
