<style>
    th:nth-child(1) {
        width: 150px;
    }
    
    th:nth-child(2) {
        width: 100px;
    }
    
    th:nth-child(3) {
        width: 100px;
    }
    
    th:nth-child(4) {
        width: 120px;
    }
    
    th:nth-child(5) {
        width: 120px;
    }
    
    th:nth-child(6) {
        width: 80px;
    }
    
    th:nth-child(7) {
        width: 200px;
        text-align: center;
    }
    
    td {
        overflow: auto;
    }
</style>
<div style="position:relative;height:100vh;left:2%;max-width: 1000px">
    <div style="margin-bottom:10px">
        <h4>Timesheet đang chờ duyệt</h4>
        <table class="table table-hover" style="table-layout:fixed">
            <tr>
                <th>Nhân viên</th>
                <th>Ngày</th>
                <th>Dự án</th>
                <th>Tổng thời gian</th>
                <th>Mô tả ngắn</th>
                <th>Hiệu quả</th>
                <th>#</th>
            </tr>
            <tr ng-repeat="timesheet in waiting_timesheets">
                <td>
                    {{timesheet.employeeName}}
                </td>
                <td>
                    {{timesheet.working_date}}
                </td>
                <td>
                    {{timesheet.project}}
                </td>
                <td>
                    {{timesheet.working_hours}}
                </td>
                <td>
                    {{timesheet.description}}
                </td>
                <td>
                    {{timesheet.efficiency}}
                </td>
                <td style="text-align: center; padding-top: 0px;align-items: center; display: flex">
                    <a class="btn btn-link" ng-click="approve(timesheet)">Duyệt timesheet</a>
                </td>
            </tr>
            </tr>
        </table>        
        
    </div>
</div>