<style>
    th:nth-child(4) {
        text-align: center
    }
    td {
        overflow: auto
    }
</style>
<div class="" style="padding:20px">
    <p>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Them approver</label>
                <div class="input-group">
                    <div class="input-group-addon">Thêm approver</div>
                    <div class="form-inline">
                        <select class="form-control" ng-model="project_id" ng-change="getUser()"  style="width:200px">
                            <option value="" selected>Chọn dự án</option>
                            <option ng-repeat="project in projects track by $index" value="{{project.id}}">{{project.name}}</option>
                        </select>
                        <select class="form-control" ng-model="approver_id" style="width:200px">
                            <option value="" selected>Chọn approver</option>
                            <option ng-repeat="user in users track by $index" value="{{user.id}}">{{user.name}}-{{user.email}}</option>
                        </select>
                        <select class="form-control" ng-model="employee_id" style="width:200px">
                            <option value="" selected>Chọn nhân viên</option>
                            <option ng-repeat="user in users track by $index" value="{{user.id}}">{{user.name}}-{{user.email}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="addNewApprover()">Submit</button>
        </form>
    </p>
    <div>
        <table class="table table-hover" style="table-layout:fixed">
            <tr>
                <th>Dự án</th>
                <th>Approver</th>
                <th>Nhân viên</th>
                <th>#</th>
            </tr>
            <tr ng-repeat="approver in approvers track by $index">
                <td>
                    {{approver.project_name}}
                </td>
                <td>
                    {{approver.approver_name}}-{{approver.approver_email}}
                </td>
                <td>
                    {{approver.employee_name}}-{{approver.employee_email}}
                </td>
                <td style="text-align: center; padding-top: 0px;align-items: center;">
                    <a class="btn btn-link" ng-click="showDetail(approver.id)">Xem chi tiết</a>
                </td>
            </tr>
        </table>
    </div>
</div>
