<div style="position:relative;height:550px; padding-right: 16px;overflow: auto">
    <div style="position:absolute;top:0px;width:100%; padding-right: 0px">
        <h3>{{header}}</h3>
        <form style="width:100%">
            <div class="form-group" style="width:420px">
                <label class="control-label">Ngày</label>
                <input ng-disabled="isDisable" type="date" class="form-control" name="date" ng-model="input.working_date" placeholder="Ngày">
            </div>
            <div class="form-group" style="width:420px">
                <label class="control-label">Dự án</label>
                <select ng-disabled="isDisable" class="form-control" ng-model="input.project_id">
                    <option value="" selected>Chọn dự án</option>
                    <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
                </select>
            </div>
            <div class="form-group" style="width:420px">
                <label class="control-label">Thời gian</label>
                <div class="form-inline" style="display:inline-flex;width: 420px" >
                    <input ng-disabled="isDisable" type="time" class="form-control" name="startTime" ng-model="input.start_time" placeholder="Giờ bắt đầu">
                    <span class="glyphicon glyphicon-arrow-right" style="margin:8px"></span>
                    <input ng-disabled="isDisable" type="time" class="form-control" name="endTime" ng-model="input.end_time" placeholder="Giờ kết thúc" style="margin-right:8px">
                    <input ng-disabled="isDisable" type="number" class="form-control" name="totalTime" step="0.01" ng-focus="setMaxTime()" ng-model="input.working_hours" min="0" max="{{maxTime}}" placeholder="Tổng thời gian" style="width:135px;">
                    
                </div>
            </div>
            <div class="form-group" style="width:420px">
                <label class="control-label">Mô tả</label>
                <div class="form-inline" style="display:inline-flex;width: 420px" >
                    <input ng-disabled="isDisable" type="text" class="form-control" name="task" ng-model="input.description" placeholder="Mô tả công việc" style="margin-right: 10px; width: 310px">
                    <input ng-disabled="isDisable" type="number" class="form-control" name="performance" step="0.1" ng-model="input.efficiency" min="0" max="100" placeholder="Hiệu suất" style="width:100px">       
                </div>
            </div>
            <div class="form-group clearfix" style="width:420px">
                <span ng-hide="!isDisable">{{input.notes}}</span>
                <button ng-hide="isDisable" class="btn btn-primary pull-right" style="margin-right:0px" type="button" ng-click="submit()">{{button}}</button>
            </div>
        </form>
    </div>
</div>