<div style="position:relative;height:100vh">
    <div style="position:absolute;top:0px;left:20%;min-width:700px">
        <form style="margin-left:40px;width:100vh" class="form-horizontal">
            <div class="form-group" style="min-width:700px">
                <label class="col-sm-2 control-label">Ngày</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="date" ng-model="input.date" placeholder="Ngày">
                </div>
            </div>
            <div class="form-group" style="min-width:700px">
                <label class="col-sm-2 control-label">Dự án</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="input.project">
                        <option value="" selected>Chọn dự án</option>
                        <option ng-repeat="project in projects" value="{{project}}">{{project}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="min-width:700px">
                <label class="col-sm-2 control-label">Thời gian</label>
                <div class="col-sm-10 form-inline" style="display:inline-flex">
                    <input type="time" class="form-control" name="startTime" ng-model="input.startTime" placeholder="Giờ bắt đầu" style="">
                    <span class="glyphicon glyphicon-arrow-right" style="margin:8px"></span>
                    <input type="time" class="form-control" name="endTime" ng-model="input.endTime" placeholder="Giờ kết thúc" style="margin-right:8px">
                    <input type="number" class="form-control" name="totalTime" step="0.01" ng-init="maxTime = getMaxTotalTime()" ng-model="input.totalTime" min="0" max="{{maxTime}}" placeholder="Tổng thời gian" style="max-width:150px;margin-right:8px">
                    <input type="number" class="form-control" name="performance" step="0.1" ng-model="input.performance" min="0" max="100" placeholder="Hiệu suất" style="width:130px">
                </div>
            </div>
            <div class="form-group" style="min-width:700px">
                <label class="col-sm-2 control-label">Mô tả</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="task" ng-model="input.task" placeholder="Mô tả công việc">
                </div>
            </div>
            <div class="form-group clearfix" style="min-width:700px">
                <button class="btn btn-default pull-right" style="margin-right:10px" type="button" ng-click="cancel()">Hủy</button>
                <button class="btn btn-primary pull-right" style="margin-right:14px" type="button" ng-click="submit()">Gửi timesheet</button>
            </div>
        </form>
    </div>
</div>